*{
    box-sizing: border-box;
}

.container{
    border: 4px solid lightgray;
    padding: 24px;
    display: flex;
    align-items: center;
}

.points {
    padding-right: 10px;
    width:50%; 
}

.image{
    width:50%;
}

.image .box{
    height: 102px; /* Turbo jank manual fix. */
}

.box{   
    border: 2px solid lightgray;
    height:30px;
    margin-bottom: 6px;
}