/*
*{
    margin:0;
    padding:0;
}
Asterisk category changes all elements.
*/

body {
    background-color: #f4f4f4;
    color:#555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal; /* can be "bold" or a # to describe its thiccness.*/
    
    /* Your all-in-one umbrella under "font". */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1em; /* Spacing b/w lines. em is measurement unit. Can use units of px if desired. */
}

.button{
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background:red;
    color:#fff;
}

a{ /* all links */
    text-decoration: none;
    color: #000;
}

a:hover{ /* when link is hovered over. */
    color:red;
}

a:active{ /* when link is clicked */
    color: green;
}

a:visited{ /* after link is clicked. */
    color:blueviolet;
}

.container{
    /* width:500px; manualing how far "right" it goes" */
    width:80%; /* auto-scales depending on window size. */

    margin: auto; /* auto = equal margins on all sides. */
}

.clr{
    clear:both;
}

.box-1{
    background-color: #333333; /* Or #333. */
    color: #fff;
    
    /* Your default. Format is size -> color -> type/style.
    border-right: 5px red solid; 
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    border: 5px red solid; your all-in-one for what's above.

    //Explore other options here.
    border-width: 10px;
    border-bottom-width: 50px;
    //Note how you can specify like so.
    border-top-style:dashed;
    */

    border: 5px red solid; 
    padding: 20px; /* all sides. You know how to manually do for each one, done above. */
    margin: 50px 0px;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px dotted #ccc;
    padding:20px;
    margin:20px 0px;
}

.categories{ /* Details on the div, not the list itself. But you can if you want.*/
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding:0px;
    padding-left:20px;
    list-style: none; /* "square" puts squares instead of bullets. */
}

.categories li{
    padding:8px;
    border-bottom: 1px #333 dotted;
    list-style-image: url('../images/check.png');

}

.my-form{
    padding:20px;
}

.my-form .form-group{
    padding-bottom:15px;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], .my-form textarea{ /* What to include and not include */
    padding:8px;
    width:100%;
}

.block{
    float:left;
    width:33.3%;
    border:1px #ccc solid;
    padding: 10px;
    box-sizing:border-box; /* Makes everything fit */
}

#main-block { /* # sign for ID. . for class. */
    float: left;
    width:70%;
    padding:15px;
    box-sizing: border-box;
}

#sidebar{
    float:right; /* Making it fit on same line as main-block. */
    width:30%;
    background-color: #333;
    color:#fff;
    padding:15px;
    box-sizing: border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin-top:30px;
    position:relative; /* Must be written so header below adjusts relative to us and not the entire page. */
    background-image:url('../images/PLUSH.JPG');
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center center;        
}

.p-box h1{
    position:absolute; 
    top:100px;
    left:200px;
}

.p-box h2{
    position:absolute;
    bottom:40px;
    right:100px;
}

.fix-me{
    position:fixed; /* "Keep on page, 400px from top." */
    top:400px;
} 

/* Psuedo-elements */
.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background:blue;
}

.my-list li:nth-child(5){ /* You pick element # */
    background:yellow;
}

.my-list li:nth-child(even) { /* You have this kind of option, too. */
    background: brown; 
}