@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;600;700;800;900&display=swap');

/*
GENERAL, ELEMENTS
*/

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0 100px;
}

.color{
    color:#0f6a16;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 2.25rem;
}

p{
    font-size: 20px;
    word-spacing: 0.01em;
    line-height: 1.3;
    margin-bottom: 24px;
}

button{
    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color: #0f6a16;
    border-radius: 16px;
    padding: 8px 20px;
}

ul{
    list-style-type: none;
}

/*
GENERAL, CLASSES
*/

.row{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
}

.container{
    padding: 80px;
}

.section__title{
    text-transform: uppercase;
    color:#0f6a16;
    font-weight: bold;
    margin-bottom: 16px;
}

.opener_text{
    font-size: 48px;
    font-weight: 900;
}

.section__paragraph{
    font-size: 18px;
    word-spacing: 0.01em;
    line-height: 1.625;
    
    opacity: 50%;

    margin-top: 16px;
    margin-bottom: 60px;
}

/*
NAVBAR
*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    margin: 16px auto 80px auto;
    padding: 0 20px;
}

.nav__logo--wrapper{
    width: 40px;
    height: 40px;
    background-color: #0f6a16;
    border-radius: 4px;
}

.nav__logo{
    font-size: 25px;
    color: white;
    margin-top: 7px;
    margin-left: 6px;
}

.nav__logo--link {
    margin-left: 20px;
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    opacity: 0.75;
}

.logo__section{
    display: flex;
    align-items: center;
}

.links__section{
    display: flex;
    align-items: center;
}

.nav__linklist{
    display: flex;
    padding-right:64px;
}

.nav__link{
    padding-left: 48px;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.65;
}

.login__link{
    font-weight: 600;
    font-size: 15px;
    opacity: 0.65;
}

.nav__button{
    margin-left: 16px;
    padding: 12px 32px;
    border-radius: 9999px;
}

/*
LANDING
*/

.landing{
    display: flex;
    height: calc(100vh - 80px);
}

.landing__info--wrapper{
    width:40%;
}

.landing__opener--text{
    font-size: 30px;
}

.landing__para{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 17px;
    font-weight: 400;
    opacity: 0.7;
    word-spacing: 2px;
}

.landing__email--wrapper{
    height:10%;
}

.landing__image--wrapper{
    width:60%;
}

.landing__image,
.landing__customers--wrapper{
    width:100%;
}

.landing__image{
    height:80%;
}

.landing__customers{
    width:60%;
}

.landing__email--wrapper{
    display: flex;
    margin-bottom: 48px;
    position: relative;
    margin-bottom: 140px;
}

.email__box{
    /* position: relative; */
    border-radius: 400px;
    width: 400px;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.55;
}

.email__button{
    position: absolute;
    border-radius: 9999px;
    padding: 12px 36px;
    height: 60px;

    top: 10px;
    right: 100px;
}

.customer__list{
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    margin-bottom: 16px;
}

.landing__customers{
    opacity: 0.6;
    width: 350px;
    height: 30px;
}

/*
FEATURES
*/

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__service--list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.features__service{
    display: flex;
    width: calc(100%/3);    
}

.features__service--title{
    margin-top: 0.4rem;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 1.5rem;
    line-height:1;
}

.service__img--wrapper{
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.features__service--info{
    display: flex;
    flex-direction: column;
    width:40%;
}

.features__service--para{
    margin: 12px 0 30px 0;
}

.feature__logo{
    color: #0f6a16;
    padding: 12px;
    border: 2px solid #e5e7eb;
    border-radius: 50%;
    font-size: 24px;
}

/*
QUALITY WORK
*/

/* #qualityWork{
    height: calc(100vh);
} */

.work__container{
    display: flex;
    margin-top: 48px;
    margin-bottom: 150px;
}

.work__description{
    width:50%;
    display: flex;
    flex-direction: column;
}

.work__button{
    width: 30%;
}

.work__image--wrapper{
    width:50%;
}

.work__image{
    height: 100%;
    width: 100%;
}

/*
STEPS
*/

.steps__container{
    display: flex;
    margin-bottom: 200px;
}

.steps__image--wrapper{
    width: 50%;
    height: 50%;
}

.steps__image{
    width: 100%;
    height: 100%;
}

.steps__description{
    width: 50%;
}

.numbered__step{
    display: flex;
    margin-bottom: 24px;
    margin-top: 36px;
}

.step__number{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1;
    opacity: 0.18;
    margin-right: 36px;
}

.step__title{
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 600;
}

.step__para{
    margin-top: 0.75rem;
    max-width: 20rem;
    line-height: 2;
    font-size: 0.875rem;
    font-weight: 500;
    opacity: 0.6;
}

/*
VALUES
*/

.values__container{
    display: flex;
    margin-bottom: 240px;
}

.values__info{
    width: 50%;
}

.values__image--wrapper{
    width: 50%;
}

.values__image{
    width: 100%;
    height: 100%;
}

/*
PRICING
*/

.pricing__container{
    margin-bottom: 200px;
}

.pricing__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans{
    display: flex;
    flex-wrap: wrap;
}

.plan{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

/*
TESTIMONIALS
*/

/* #testimonials{
    display: flex;
} */

.testimonials__container{
    display: flex;
    margin-bottom: 180px;
}

.testimonials__info{
    display: flex;
    flex-direction: column;
}

.testimonials__image--wrapper{
    width: 50%;
}

.testimonials__image{
    width: 100%;
    height: 100%;
}

.testimonials__info{
    width: 50%;
}

.review__person{
    display: flex;
}



.review__person--wrapper{
    width: 50%;
}

.review__person--image{
    width: 25%;
}

/*
FAQs
*/

.faqs__container{
    margin-bottom: 150px;
}

/*
HOOK
*/

.hook__container{
    display: flex;
    margin-bottom: 180px;
}

.hook__info{
    width: 50%;
}

.hook__buttons{
    display: flex;
}

/*
FOOTER
*/

.links{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.link__group{
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}