@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*
GENERAL, ELEMENTS
*/

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color{
    color:#0f6a16;
}

a{
    text-decoration: none;
    color: black;
}

button{
    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color: #0f6a16;
    border-radius: 16px;
    padding: 8px 20px;
}

ul{
    list-style-type: none;
}

/*
GENERAL, CLASSES
*/

.row{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
}

.container{
    padding: 80px 0;
}

.opener__text{
    font-size: 48px;
}

.section__title{
    text-transform: uppercase;
    color:#0f6a16;
    font-weight: bold;
    margin-bottom: 24px;
}

.section__paragraph{
    font-size: 20px;
    word-spacing: 0.01em;
    line-height: 1.3;
    margin-top: 24px;
    margin-bottom: 24px;
    opacity: 50%;
}

/*
NAVBAR
*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    margin: 16px 0 30px 0;
}

.nav__logo{
    width: 40px;
    height: 40px;
    background-color:cornflowerblue;
    color:white;
}

.logo__section{
    display: flex;
    align-items: center;
}

.links__section{
    display: flex;
    align-items: center;
}

.nav__linklist{
    display: flex;
    padding-right:64px;
}

.nav__logo--name{
    margin-left: 20px;
}

.nav__link{
    padding-left: 48px;
    color: grey;
    font-weight:bold;
}

.nav__button{
    margin-left: 16px;
    
}

/*
LANDING
*/

.landing{
    display: flex;
    height: calc(100vh - 80px);
}

.landing__info--wrapper{
    width:40%;
}

.landing__email--wrapper{
    height:10%;
}

.landing__opener--text{
    font-size: 48px;
    margin-bottom: 100px;
}

.landing__section--paragraph{
    font-size: 20px;
    word-spacing: 0.01em;
    line-height: 1.3;
    margin-bottom: 24px;
}

.email__box{
    border-radius: 9999px;
    width:70%;
}

.landing__image--wrapper{
    width:60%;
}

.landing__image,
.landing__customers--wrapper{
    width:100%;
}

.landing__image{
    height:80%;
}

.landing__customers{
    width:60%;
}

.landing__email--wrapper{
    display: flex;
    margin-bottom: 48px;
}

.email__box{
    position:relative;
}

.email__button{
    position:relative;
    right: 125px;
}

.customer__list{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 16px;
}

/*
FEATURES
*/

/* .features__container{
    height: 100vh;
} */

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__service--list{
    display: flex;
    flex-wrap: wrap;
}

.features__service{
    display: flex;
    width: calc(100%/3);
}

.service__img--wrapper{
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.features__service--info{
    display: flex;
    flex-direction: column;
    width:40%;
}

.features__service--para{
    margin: 12px 0 30px 0;
}

.fa-solid{
    color: #0f6a16;
    padding: 12px;
    border: 2px solid #e5e7eb;
    border-radius: 50%;
}